<h1><%= @title %></h1>
<% if @model %>
<table class='table table-condensed'>
  <tbody>
    <tr>
      <th>id</th><td><%= @model.id %></td>
    </tr>
    <tr>
      <th>market_id</th><td><%= @model.market_id %></td>
    </tr>
    <tr>
      <th>img</th><td><img src="<%= @model.img %>" /></td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td>
        <a class='btn btn-danger' data-confirm='really?' data-method='delete' href='/<%= @prefix %>/<%= @model.id %>'>Delete</a>
      </td>
    </tr>
  <tfoot>
</table>
<% end %>
