<h1><%= @title %></h1>
<% if @models  and @models.length > 0%>
<table class='table table-condensed'>
  <thead>
    <tr class='active'>
      <% @models[0].attributes.each do |attr_name, attr_value| %>
      <th><%= attr_name %></th>
      <% end %>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @models.each do |model| %>
    <tr>
      <% model.attributes.each do |attr_name, attr_value| %>
        <% if attr_name == 'id' %>
        <td><a href='/<%=@prefix%>/<%=attr_value%>'><span class='btn btn-xs btn-primary'><%= attr_value %></span></a></td>
        <% else %>
        <td><%= attr_value %></td>
        <% end%>
      <% end %>
      <td>
        <% if model.enable.presence %>
        <a class='btn btn-xs btn-success' href='/market/enable?market_id=<%= model.id %>' disabled='disabled'>Enable</a>
        <a class='btn btn-xs btn-danger' href='/market/disable?market_id=<%= model.id %>'>Disable</a>
        <% else %>
        <a class='btn btn-xs btn-success' href='/market/enable?market_id=<%= model.id %>'>Enable</a>
        <a class='btn btn-xs btn-danger' href='/market/disable?market_id=<%= model.id %>' disabled='disabled'>Disable</a>
        <% end %>
        <a href='/<%= @prefix %>/<%= model.id %>' class='btn btn-xs btn-danger btn-remove' data-confirm='really?' data-method='delete' rel='nofollow'>remove</a>
      </td>
    </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="<%= @models[0].attributes.count()+1 %>" align="center"><%= will_paginate @models, :style => 'color:blue' %></td>
    </tr>
  </tfoot>
</table>

<% end %>

<div class='buttons'>
  <a href='/<%=@prefix%>/new' class='btn btn-success'>New</a>
</div>
